<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="home.css">

<head>
</head>
<body>
<div>Device Info 

	 <ul>
	  	<li>Serial Number: <%=device[0].serialNum%></li>
	  	<li>Company Name: <%=device[0].companyName%></li>
	  	<li>Model: <%=device[0].fullModel%></li>
	  	<li>SizeTiB: <%=device[0].totalSizeTiB%></li>
	  	<li>FreeTiB: <%=device[0].freeSizeTiB%></li>
	</ul>

</body>