<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="home.css">
<head>
  <title>Code4Food</title>
  <script>

  	function listTab(evt, name) {
	    var i, tabcontent, tablinks;
	    // Get all elements with class="tabcontent" and hide them
	    tabcontent = document.getElementsByClassName("tabcontent");
	    for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	    }
	    // Get all elements with class="tablinks" and remove the class "active"
	    tablinks = document.getElementsByClassName("tablinks");
	    for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].className = tablinks[i].className.replace(" active", "");
	    }
	    // Show the current tab, and add an "active" class to the button that opened the tab
	    document.getElementById(name).style.display = "block";
	    evt.currentTarget.className += " active";
	}

	//div is the string id of the div
	function loadList(div) {
		//TODO: i's will be replaced with ids
		var dev = <%- JSON.stringify(device)%>;
		console.log(dev);
		if (div == 'devices') {
			for (i = 0; i < dev.length; i++){
				var key = dev[i].serialNum;
				document.getElementById(div).insertAdjacentHTML('beforeend', '<div class=\"butt listElem\" onclick=\"loadContent(\'devices\', \'dev'+key+'\')\" data-id=\"dev'+key+'\">Device '+key+'</div>');
			}
		}
		else if (div == 'alerts') {
			document.getElementById(div).insertAdjacentHTML('beforeend', '<div class=\"butt listElem\" onclick=\"loadContent(\'alerts\', \'alt'+i+'\')\" data-id=\"alt'+i+'\">Alert '+i+'</div>');
		}
		if (div == 'settings') {
			for (i = 0; i < dev.length; i++){
				var key = dev[i].serialNum;
				document.getElementById(div).insertAdjacentHTML('beforeend', '<div class=\"butt listElem\" onclick=\"loadContent(\'settings\', \'set'+key+'\')\" data-id=\"set'+key+'\">Settings '+key+'</div>');
			}
		}
	}

	//used to find the correct device, given the user's list and a single desired ID
	function getByID(list, id) {
    	if (id.substring(0, 3) == 'dev' || id.substring(0, 3) == 'set') {
      		for (var i = 0; i < list.length; i++) {
        		if (id.substring(3, id.length) == list[i].serialNum) {
          			return list[i];
        		}
      		}
    	}
    	return undefined;
  	}
	
	function loadContent(type, id, device) {

		//placeholder if, check if the id exists
		if (true) {
			//remove the current content in the content box
			var cont = document.getElementById("content");
			while (cont.firstChild) {
    		cont.removeChild(cont.firstChild);
			}
			if (type == 'devices') {
				var devs = <%- JSON.stringify(device)%>;
				var dev = getByID(devs, id);
				cont.insertAdjacentHTML('beforeend', `
					<ul>
	  					<li>Serial Number: `+dev.serialNum+`</li>
	  					<li>Company Name: `+dev.companyName+`</li>
	  					<li>Model: `+dev.fullModel+`</li>
	  					<li>SizeTiB: `+dev.totalSizeTiB+`</li>
	  					<li>FreeTiB: `+dev.freeSizeTiB+`</li>
	  				</ul>

	  				<form action="/viewAlert" method="post">
	  					<input type="hidden" name="devID" id="devID" value="`+id+`">
	  					<button type="submit"> View Alert </button></br>
	  				</form>

	  				<div class="butt cornerButt" onclick="loadContent('settings', 'set`+id.substring(3, id.length)+`')">
	  					View Settings
	  				</div>

	  				

	  				`);
			}
			else if (type == 'alerts') {
				cont.insertAdjacentHTML('beforeend', 
					'<div>Content!<br/>Alert Content!<br/>Number ' + id + '</div>');
			}
			else if (type == 'settings') {
				var devs = <%- JSON.stringify(device)%>;
				var dev = getByID(devs, id);
				var threshs = <%- JSON.stringify(threshold)%>;
				cont.insertAdjacentHTML('beforeend', `
					<div>
						Device: `+dev.serialNum+`
						<div class="col-6">
						<form action="/saveSettings" method="post" class="slidecontainer">
							<!-- when you refresh the boxes are empty becuase it is looking for threshold array but theres noting there, it will be fixed when we have a database -->
							<div class="row">
				
								<input type="range" class="slider" name="amountRange" min="0" max="100" value="<%= threshold[i].s1 %>" oninput="this.form.amountInput.value=this.value" />
								<input type="number" class="slideform" name="amountInput" min="0" max="100" value="<%= threshold[i].s1 %>" oninput="this.form.amountRange.value=this.value" />
								<input type="checkbox" id="alertToggle1" name="alertToggle1" value="true">
								<label for="alertToggle1" class="checkboxlabel">Toggle Alert</label>
								<!-- label for= will have the same id as the checkbox you are connecting it to -->
							</div>
							<% } %>

							<button type="submit">Save Settings</button>
						</form>
						</div>
					</div>
					`);
			}
			all = document.getElementsByClassName("listElem");
	    	for (i = 0; i < all.length; i++) {
	        	all[i].className = all[i].className.replace(" activeListElem", "");
	        	if (all[i].getAttribute('data-id') == id) {
	        		all[i].className += " activeListElem";
	        	}
	    	}
		}
	}
  </script>
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-default">
	  		<div class="container-fluid">
	    		<div class="navbar-header">
	      			<a class="navbar-brand" href="#">Code4Food</a>
	    		</div>
	    		<ul class="nav navbar-nav">
	      			<li class="active"><a href="/home">Home</a></li>
	      			<li><a href="/logout">Log out</a></li>
	    		</ul>
	  		</div>
		</nav>
	  	<div class="btn-group-lg btn-group-toggle" data-toggle="buttons">
	  		<label class="btn btn-secondary active butt tablinks tab" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;" onclick="listTab(event, 'devices')">
	    		<input type="radio" name="options" id="option1" autocomplete="off">
	    			Devices
	  		</label>
	  		<label class="btn btn-secondary butt tab tablinks" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;" onclick="listTab(event, 'alerts')">
	    		<input type="radio" name="options" id="option2" autocomplete="off">
	    			Alerts
	  		</label>
	  		<label class="btn btn-secondary butt tab tablinks" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;" onclick="listTab(event, 'settings')">
	    		<input type="radio" name="options" id="option2" autocomplete="off">
	    			Settings
	  		</label>
	  	</div>
	  	<div id="main" class="row">
	    	<div id="list" class="col-md-2" style="padding: 0px">
	      		<div id="devices" class="tabcontent">
	        		<script type="text/javascript">
	        			loadList('devices');
	        		</script>
	      		</div>
	      		<div id="alerts" class="tabcontent" style="display:none;">
	        		<script type="text/javascript">
	        			loadList('alerts');
	        		</script>
	      		</div>
	      		<div id="settings" class="tabcontent" style="display:none;">
	        		<script type="text/javascript">
	        			loadList('settings');
	        		</script>
	      		</div>
	    	</div>
	  		<div id="content" class="col-md-8">
	  			Placeholder
	    	</div>
	    </div>
    </div>
</body>