<!DOCTYPE html>
<html>
<head>
	<title>Code4Food</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
	<h1> This is the home page - sky was here</h1>

<div class="col-6">
	<form action="/saveSettings" method="post" class="slidecontainer">
	<% for(var i = 0; i < threshold.length; i++) { %>
		
	
		<!-- when you refresh the boxes are empty becuase it is looking for threshold array but theres noting there, it will be fixed when we have a database -->
		<div class="row">
				
				
				<input type="range" class="slider" name="amountRange" min="0" max="100" value="<%= threshold[i].s1 %>" oninput="this.form.amountInput.value=this.value" />
				<input type="number" class="slideform" name="amountInput" min="0" max="100" value="<%= threshold[i].s1 %>" oninput="this.form.amountRange.value=this.value" />
				<input type="checkbox" id="alertToggle1" name="alertToggle1" value="true">
				<label for="alertToggle1" class="checkboxlabel">Toggle Alert</label>
				<!-- label for= will have the same id as the checkbox you are connecting it to -->
		</div>

		<div class="row">
				<input type="range" class="slider" name="amountRange2" min="0" max="100" value="<%= threshold[i].s2 %>"oninput="this.form.amountInput2.value=this.value" />
				<input type="number" class="slideform" name="amountInput2" min="0" max="100" value="<%= threshold[i].s2 %>" oninput="this.form.amountRange2.value=this.value" />
				<input type="checkbox" id="alertToggle2" name="alertToggle2" value="true">
				<label for="alertToggle2" class="checkboxlabel">Toggle Alert</label>
		</div>

		<div class="row">
				<input type="range" class="slider" name="amountRange3" min="0" max="100" value="<%= threshold[i].s3 %>" oninput="this.form.amountInput3.value=this.value" />
				<input type="number" class="slideform" name="amountInput3" min="0" max="100" value="<%= threshold[i].s3 %>" oninput="this.form.amountRange3.value=this.value" />
				<input type="checkbox" id="alertToggle3" name="alertToggle3" value="true">
				<label for="alertToggle3" class="checkboxlabel">Toggle Alert</label>
		</div>
		<% } %>

		<button type="submit">Save Settings</button>
	</form>



</div>


	<form action="/logout" name="Logout" method="post" >
		<input type="Submit" value="Logout">
	</form>
</body>